#Password {
    .ion-invalid {
        margin-bottom: 10px;
    }
    
    p {
        text-align: center;
    }

    .image-container{
        width: 50%;
        margin: auto;
        margin-top: 2%;
    }
}